<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>About US</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>
    {% include 'header.html' %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>about us</h4>
                <h2>more about us!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="{% static 'images/about-us.jpg" alt="">
            <p>"Sampradan" a smart blockchain based crowdfunding platform (Web Application). Our goal is to become a platform where Organizations can collect money to help people by asking many contributors to donate a small amount to it individually. By using “Sampradan”, People can crowdfund for just about anything. This could be medical expenses, friends and family, education costs or simply just a charity which is close to their heart. “Sampradan” In general, a charitable crowdfunding project that involves three parties: the project initiator, who launches a project to be funded; supporters, whose donations and sharing support the project; and platforms that bring project initiators and supporters together.
              First of all, this online crowdfunding platform can help reach a wider audience. It will allow organizations to reach a wider audience beyond their local community or personal network. This can help them connect with potential donors from around the world who share their cause or interests. Our project will Make it easy for people to donate money online using a credit card, debit card, or other payment methods. This eliminates the need for mailing checks or physically visiting a donation center, making the process more convenient for donors. And most important one that our project will help is transparency. It will provide donors with more transparency about where their donations are going and how they are being used. Organizations can provide updates on the progress of their campaigns and show how the money is being spent. 
              </p>
          </div>
        </div>
        <h2>Our Partners</h2>
        <br><br><br>
        <div class="row">
          <div class="col-lg-6">
          <h4>Bidyanondo Foundation</h4>
          	<p>Bidyanondo Foundation is a non-profit organization registered under the Bangladesh Department of Social Services. It works to help the poor community of Bangladesh and performs various social welfare activities. This organization was founded by Kishor Kumar Das in 2013.</p>
          </div>
          <div class="col-lg-6">
          <h4>JAAGO Foundation</h4>
          	<p>The JAAGO Foundation is a civil society organization established in April 2007, in Bangladesh. The Foundation work towards the betterment of people living below the poverty line. The JAAGO Foundation currently has schools spread all over Bangladesh catering free of cost schools for 4,500 underprivileged children.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 col-md-6">
          <h4>Al Manahil Welfare Foundation</h4>
          	<p>Al Manahil Welfare Foundation is a non-profit charitable organization that was established in 1998 by Jamir Uddin Nanupuri. The organization has been actively engaged in various programs, constructing mosques and madrasas, establishing orphanages, distributing disaster relief, and providing educational and service programs for Rohingya refugees.</p>
          </div>
          <div class="col-lg-4 col-md-6">
          <h4>Narail Express Foundation</h4>
          	<p>The Narail Express Foundation is a Narail-based non-profit charity that provides education, healthcare, and other social services for the people who live in the Narail district of Bangladesh. It was co-founded by Bangladeshi Politician and Cricketer Mashrafe Mortaza, along with Tarikul Islam Anik in 2017.</p>
          </div>
          <div class="col-lg-4">
          <h4>Care International</h4>
          	<p>CARE is a major international humanitarian agency delivering emergency relief and long-term international development projects. Founded in 1945, CARE is nonsectarian, impartial, and non-governmental. It is one of the largest and oldest humanitarian aid organizations focused on fighting global poverty.</p>
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-lg-3 col-md-6">
          <h4>BRAC</h4>
          	<p>BRAC is an international development organisation based in Bangladesh. In order to receive foreign donations, BRAC was subsequently registered under the NGO Affairs Bureau of the Government of Bangladesh.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Water.org</h4>
          	<p>Water.org is an international nonprofit organization that helps people living in poverty get access to safe water and improved sanitation through affordable financing. It was founded by Matt Damon and Gary White.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>SONNE International</h4>
          	<p>SONNE International is a development aid organization that supports educational programs as well as health care and rural development projects in Asia. The main focus is on education for disadvantaged children.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Save The Children Fund</h4>
          	<p>The Save the Children Fund, known as Save the Children, is an international non-government operated organization. It was founded in the UK in 1919. It's goal is to improve the lives of children worldwide.</p>
          </div>
        </div>
        
      </div>
    </section>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright: Sampradan @2023</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js' %}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>